<mat-toolbar>
  <span>Angular Custom Themes</span>

  <div>
    @if(themeService.mode() === 'dark') {
    <button mat-icon-button (click)="themeService.mode.set('light')">
      <mat-icon>light_mode</mat-icon>
    </button>
    } @else {
    <button mat-icon-button (click)="themeService.mode.set('dark')">
      <mat-icon>dark_mode</mat-icon>
    </button>
    }

    <button mat-icon-button [matMenuTriggerFor]="themeMenu">
      <mat-icon>format_color_fill</mat-icon>
    </button>
    <mat-menu #themeMenu="matMenu">
      @for (theme of themeService.getThemes(); track theme.id) {
      <button mat-menu-item (click)="themeService.setTheme(theme.id)">
        <div class="theme-menu-item">
          <div
            class="color-preview"
            [style.background-color]="theme.primary"
          ></div>
          <span>{{ theme.displayName }}</span>
        </div>
      </button>
      }
    </mat-menu>
  </div>
</mat-toolbar>

<app-content></app-content>
